@tailwind base;
@tailwind components;
@tailwind utilities;



.header{
  background: black;
  color: wheat;
  margin: 5px;
  padding: 10px;
}

.header-button{
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  font-size:large;
  font: bold;
  font-style: italic;
}

.footer{
  background-color: black ;
  color: wheat;
  margin: 5px;
  text-align: center;
 margin-top: 12%;
}
.backg{
  width: 100%;
}